<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="AlertMonitoring" connectionString="Data Source=auawsrpt001l.infotrack.com.au;Initial Catalog=LdmCore;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Elastic configuration -->
    <add key="elasticLogsEndpoint" value="https://logs.infotrack.com.au" />
    <add key="elasticLogsUserName" value="log_reader" />
    <add key="elasticLogsPassword" value="ipXpjND5tt98GisXLiKw0PkCa" /> 

    <add key="maxScanPeriod" value="120" />
    <add key="collectorDefaultStartDateTime" value="2020-02-24 00:00:01" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>