@model MessageViewModel

@{
    ViewData["Title"] = "Messages";
}

<h1>Messages</h1>

@{await Html.RenderPartialAsync("_MessageSearch.cshtml", Model.options);}
@{await Html.RenderPartialAsync("_MessageGrid.cshtml", Model);}
@{await Html.RenderPartialAsync("_EditMessageModal.cshtml", Model.Message);}


@section Scripts{
    <script type="text/javascript" src="~/js/MessageModalScript.js"></script>
}