@model MessageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{await Html.RenderPartialAsync("_MessageGrid.cshtml", Model);}


@section Scripts{
    <script type="text/javascript" src="~/js/ModalScript.js"></script>
}