@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    
    @*@Styles.Render("~/Content/css")*@

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
