@model AlertsAdmin.Domain.Models.Alert

<div class="container w-100">
    <p hidden id="alertId">@Model.Id</p>
    <div class="row">
        <div class="col-9">
            <h2>Alert</h2>
            <div class="alert alert-primary">@Model.MessageType.Template</div>
            <div id="alertList"></div>
        </div>
        <div class="col-3">
            @{ await Html.RenderPartialAsync("_AlertForm.cshtml", Model);}
        </div>
    </div>
</div>

<script type="text/x-handlebars-template" id="tableTemplate">
    <table class="table">
        <thead class="thead-light">
            <tr>
                {{#each array.[0]}}
                <th>{{@@key}}</th>
                {{/ each}}
            </tr>
        </thead>
        <tbody>
            {{#each array}}
            <tr>
                {{#each this}}
                <td>{{ this}}</td>
                {{/ each}}
            </tr>
            {{/ each}}
        </tbody>
    </table>
</script>

@section Scripts{ 
    <script src="~/js/AlertList.js"></script>
}


