@model IEnumerable<AlertsAdmin.Domain.Models.Alert>
@{
    ViewData["Title"] = "Alerts";
}

<div class="w-100">
    <div class="row">
        <div class="col">
            <div class="row">
                <h2>Chart:</h2>
            </div>
            <div class="row">
                <div id="queueChart" class="ct-chart ct-perfect-fourth" style="overflow:visible"></div>
            </div>
        </div>

        <div class="col">
            <h2>Alerts:</h2>
            @{ await Html.RenderPartialAsync("_AlertGrid.cshtml", Model); }
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="~/js/Charting.js"></script>
}